/target
/tests/fixtures/*.anki2
/tests/fixtures/*.anki2-shm
/tests/fixtures/*.anki2-wal
sidecar/.venv/
sidecar/wheels/
sidecar/.pytest_cache/
sidecar/__pycache__/
sidecar/tests/__pycache__/
*.gz

# Added by cargo
#
# already existing elements were commented out

#/target
